@page
@model IndexModel
@{


    ViewData["Title"] = "Inicio de sesión";
}

@*Navegación*@
<nav aria-label="breadcrumb" m-3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio sesión</li>
    </ol>
</nav>

@*Inicio sesión*@
<div class="login">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="identificación" asp-for="usuario.Nombre" name="username" required />
            <input type="password" placeholder="clave" asp-for="usuario.Clave" name="pass" required />
            <button id="btnClientes" asp-page-handler="Cliente" asp-page="/About">Cliente</button>
            <button id="btnAdmin" asp-page-handler="Admin" asp-page="/Contact">Admin</button>

        </form>
    </div>
    @*<p class="text-center">@Html.DisplayFor(modelItem => )</p>*@
</div>


@*<script>
    document.getElementById("myBtn").addEventListener("click", function() *@
